.about {
  display: flex;
  flex-wrap: wrap;
}

.about__content {
  padding: 20px;
  order: 1;
}

.about__title {
  font-family: Times New Roman;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  color: #562F2F;
}

.about__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.about__more {
  display: inline-block;
  margin: 20px 0;
  padding: 12px 35px;
  background-color: #4B1111;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .about {
    @include container;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .about__content {
    padding: 0;
    width: 48%;
    order: 0;

    &--page {
      width: 50%
    }
  }

  .about__img {
    width: 45%;
  }
}
