.cards {
  @include list;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cards__item {
  margin: 0 5px 20px 5px;
  padding: 15px;
  width: 205px;
  flex-grow: 1;
  background-color: #fff;
  text-align: center;
  border: 1px solid #EED6CD;

  img {
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .cards {
    padding: 5px 15px;
  }

  .cards__item {
    margin: 0;
    flex-grow: 0;
  }
}
