.header {
  position: relative;
  padding: 10px;
  background-color: #FFF0E9;
}

.header__nav-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
  border: none;
  background-color: #FFD1BF;
  border-radius: 5px;
  outline: none;

  &:focus {
    box-shadow: 0px 0px 5px 0px #e69898;
  }
}

.header__phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #391111;
  text-decoration: none;
}

.header__callback {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #C1B1AA;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .header__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .header__call {
    width: 100%;
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .header__content,
  .header__menu {
    @include container;
  }

  .header__nav-btn {
    display: none;
  }

  .header__call {
    width: 350px;
  }
}
