.social {
  @include list;
  display: flex;
  justify-content: center;
  width: 100%;
}

.social__item {
  margin: 5px;
}

.social__link {
  display: block;
}

@media (min-width: 1024px) {
  .social {
    width: auto;
    margin-left: auto;
  }

  .social__link {
    svg {
      fill: #A21418;
    }
  }
}
